:root {
    --clr1: darkkhaki;
    --clr2: #2f4f4f;
    --clr3: whitesmoke;
}

/*
filter:drop-shadow(30px 10px 4px #2f4f4f)
*/

/*
.mnky {
    overflow: hidden;
    height:303px;
    width: 639px;
    /**padding bottom oO?!**/
    /**hide overflow**/
}
*/

.présentation {
    position: absolute;
    top: ;
    bottom: 2%;
    right: ;
    left: 1%;

    text-decoration: none;

    height: ;
    width: ;

}

.naissance {
    position: absolute;
    top: ;
    bottom: 2%;
    right: 20%;
    left: ;

    height: ;
    width: ;
}

.logoclock {

    drop-shadow(decalage-x decalage-y rayon-flou couleur)

    width: ;
}


/*elements, pseudo-elements*/

body {
    background-color: var(--clr1);
    color: var(--clr2);

    margin: 1%;
}

header {
    color: var(--clr3);
    position: relative;

    background-image: url("images/ThomaSalmonINC4.jpg");
    background-size: cover;
    background-position: center;

    padding: 1%;
    border: 1px solid var(--clr2);
    margin: 1%;

    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;

    margin: 1%;

    border: 1px solid var(--clr2);
}

section {
    width: 90%;

    margin: 1%;
    border: 1% solid var(--clr2);
}

aside {
    position: relative;

    width: 10%;
    background: linear-gradient(var(--clr1), var(--clr2));

    margin: 1%;

    border: 1px solid var(--clr2);
}

aside p {
    position: absolute;
    top: %;
    right: %;
    bottom: 1%;
    left: %;


    width: 100%;

    color: var(--clr1);

    /**police relative à logoclock...**/
}

main {
    display: flex;

}


footer {
    background-color: var(--clr2);
    color: var(--clr1);

    text-align: center;
}